<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>

<body>
    <h2 style="text-align: center;">Tabla de Categorias</h2>
    <table style="height: 54px; width: 90%; border-collapse: collapse; margin-left: auto; margin-right: auto;"
        border="3">
        <tbody>
            <tr style="height: 36px;background-color: #62f669">
                <td style="width: 15%; height: 36px; text-align: center;">ID</td>
                <td style="width: 15%; height: 36px; text-align: center;">Nombre</td>
                <td style="width: 15%; height: 36px; text-align: center;">descripcion</td>
                <td style="width: 15%; height: 36px; text-align: center;">Carga de trabajo</td>
            </tr>
            {% for categoria in categorias %}
            <tr style="height: 18px;background-color: #FFFFFF">
                <td style="width: 15%; height: 18px; text-align: center;">{{categoria.id}}</td>
                <td style="width: 15%; height: 18px; text-align: center;">{{categoria.nombre}}</td>
                <td style="width: 15%; height: 18px; text-align: center;">{{categoria.descripcion}}</td>
                <td style="width: 15%; height: 18px; text-align: center;">{{categoria.carga_de_Trabajo}}</td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>