<style>

  </style>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="EstilosHome.css">
    <link rel="shortcut icon" href="ico.ico" />    
    <title>Menú - Inicio</title>
  </head>
  <body>
    <button class="cybr-btn">
        Mensaje de configuración<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch"></span>
        <span aria-hidden class="cybr-btn__tag">TC</span>
      </button>
      <button class="cybr-btn">
        Mensaje de consumo<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch"></span>
        <span aria-hidden class="cybr-btn__tag">TC</span>
      </button>
      <button class="cybr-btn">
        Operaciones del sistema<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch"></span>
        <span aria-hidden class="cybr-btn__tag">TC</span>
      </button>
      <button class="cybr-btn">
        Ayuda<span aria-hidden></span>
        <span aria-hidden class="cybr-btn__glitch"></span>
        <span aria-hidden class="cybr-btn__tag">TC</span>
      </button>
  </body>
  </html>

