{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'ico.ico' %}" />
    <link rel="stylesheet" href="{% static 'estilos.css' %}" type="text/css">
    <title>Menú - Inicio</title>
</head>

<body>
    <nav class="nav">
        <ul class="list"> 
            <li class="list__item">
                <div class="list__button">
                    <img  src="{% static 'message.svg' %}" class="list__img">
                    <a href="{% url 'cargaConfig' %}" class="nav__link">Enviar mensaje de configuración</a>
                </div>
            </li>
            <li class="list__item">
                <div class="list__button">
                    <img src="{% static 'message.svg' %}" class="list__img">
                    <a href="{% url 'cargaConsu' %}" class="nav__link">Enviar mensaje de consumo</a>
                </div>
            </li>
            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="{% static 'menu-hamburguesa.svg' %}" class="list__img">
                    <a  class="nav__link">Creacion de nuevos datos</a>
                    <img src="{% static 'arrow.svg'%}" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="{% url 'crearRecurso' %}" class="nav__link nav__link--inside">Recurso</a>
                    </li>
                    <li class="list__inside">
                        <a href="{% url 'crearCategoria' %}" class="nav__link nav__link--inside">Categoria</a>
                    </li>
                    <li class="list__inside">
                        <a href="{% url 'crearConfiguracion' %}" class="nav__link nav__link--inside">Configuracion</a>
                    </li>
                    <li class="list__inside">
                        <a href="{% url 'crearCliente' %}" class="nav__link nav__link--inside">Cliente</a>
                    </li>
                    <li class="list__inside">
                        <a href="{% url 'crearInstancia' %}" class="nav__link nav__link--inside">Instancia</a>
                    </li>
                </ul>
            </li>
            
            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="{% static 'menu-hamburguesa.svg' %}" class="list__img">
                    <a  class="nav__link">Consulta de Datos    </a>
                    <img src="{% static 'arrow.svg'%}" class="list__arrow">
                </div>
                <ul class="list__show">
                    <li class="list__inside">
                        <a href="{% url 'consultaRecursos' %}" class="nav__link nav__link--inside">Recursos</a>
                    </li>
                    <li class="list__inside">
                        <a href="{% url 'consultaClientes' %}" class="nav__link nav__link--inside">Clientes</a>
                    </li>
                    <li class="list__inside">
                        <a href="{% url 'consultaCategorias' %}" class="nav__link nav__link--inside">Categorias</a>
                    </li>
                </ul>
            </li>
            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="{% static 'docs.svg' %}" class="list__img">
                    <a  class="nav__link">Ayuda</a>
                    <img src="{% static 'arrow.svg'%}" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a target="_blank" href="https://drive.google.com/file/d/1S7omyLv3zTi68tdKZUtFmN-DYGTglbGs/view?usp=share_link" class="nav__link nav__link--inside">Autor</a>
                    </li>

                    <li class="list__inside">
                        <a target="_blank" href="https://drive.google.com/file/d/1gKagL2EfPuajre1HIvpZX4KTY8N-6MEn/view?usp=share_link" class="nav__link nav__link--inside">Documentacion</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>